@keyframes bounce {
	0% {
		transform: translateY(0%);
	}
	25% {
		transform: translateY(-10%);
	}
	50% {
		transform: translateY(0%);
	}
	75% {
		transform: translateY(-10%);
	}
	100% {
		transform: translateY(0%);
	}
}


@keyframes headDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes lineCatchy {
	0% {
		right: 100%;
	}
	100% {
		right: 0;
	}
}