footer {
    background-color: $base-color;
	padding: 20px 0 50px 0;
	@include mq(max, $mq_md - 1) {
		padding: 20px 0 40px 0;
	}
	.footer-cntr {
		max-width: 1600px;
		width: 100%;
		margin: auto;
		padding: 0 60px;
		@include mq(max, 1000) {
			padding: 0 30px;
		}
		@include mq(max, $mq_md - 1) {
			padding: 0 20px;
		}
	}
	.cntr-body {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		border-top: 2px solid #626468;
		padding-top: 24px;
		.left_part, .right_part {
			@include mq(max, $mq_md - 1) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.right_part {
			flex: 1;
			.col-links {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: flex-start;
				max-width: 800px;
				width: 100%;
				margin-left: auto;
				.link-item {
					&.unique-size {
						flex: 0 0 25%;
						max-width: 25%;
						&.is-v2 {
							flex: 0 0 30%;
							max-width: 30%;
						}
						&.is-v3 {
							flex: 0 0 20%;
							max-width: 20%;
						}
					}
					@include mq(max, 1000) {
						flex: 0 0 50%!important;
						max-width: 50%!important;
					}
					@include mq(max, 560) {
						flex: 0 0 100%!important;
						max-width: 100%!important;
					}
				}
			}
			.gnav-list {
				flex-wrap: wrap;
				justify-content: flex-start;
				li {
					flex: 0 0 100%;
					max-width: 100%;
					@include mq(max, $mq_md - 1) {
						padding: 6px 0;
					}
					a {
						text-transform: none;
						font-size: 16px;
						font-weight: 400;
						color: #fff;
						transition: linear .3s;
						@include mq(max, $mq_md - 1) {
							display: block;
							padding: 0;
						}
						&:hover {
							text-decoration: underline;
							color: $theme-color;
							text-decoration-color: #fff;
							transition: linear .3s;
						}
					}
				}
			}
		}
		.left_part {
			max-width: 450px;
    		width: 100%;
			@include mq(max, $mq_md - 1) {
				.logo {
					display: none;
				}
				margin-bottom: 40px;
			}
		}
	}
	.logo {
		display: flex;
		align-items: center;
		max-width: 90px;
		width: 100%;
		@include mq(max, $mq_md - 1) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.ftr-add {
		color: #fff;
		margin-top: 30px;
		a{
			color: #fff;
			transition: linear .3s;
			&:hover {
				color: $theme-color;
				transition: linear .3s;
			}
		}
	}
	.ftr-bottom {
	    display: flex;
	    align-items: flex-start;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    margin-top: 55px;
	    @include mq(max, $mq_md - 1) {
	    	flex-direction: column-reverse;
	    	margin-top: 20px;
	    	padding-top: 10px;
	    	border-top: 2px solid #626468;
	    }
	    .other-links {
	    	ul {
	    		display: flex;
	    		flex-wrap: wrap;
	    		align-items: center;
	    		margin: 0 -15px;
	    		li {
	    			position: relative;
	    			padding: 0 15px;
	    			&:last-child {
	    				&:before {
	    					content: "";
	    				}
	    			}
	    			&:before {
	    				content: "|";
	    				position: absolute;
	    				right: -2px;
	    				top: 0;
	    				color: #b1b2b4;
	    				bottom: 0;
	    			}
	    			a {
	    				font-weight: 400;
	    				color: #b1b2b4!important;
	    				color: #fff;
	    				text-decoration: none;
	    				transition: linear .3s;
	    				@include mq(max, $mq_md - 1) {
	    					font-size: 14px;
	    				}
	    				&:hover {
	    					color: $theme-color!important;
	    					text-decoration: underline;
	    					text-decoration-color: #fff;
	    					transition: linear .3s;
	    				}
	    			}
	    		}
	    	}
	    }
		.copy-right {
			text-align: right;
			color: #b1b2b4;
			font-size: 16px;
			@include mq(max, $mq_md - 1) {
				text-align: center;
				font-size: 14px;
			}
		}
	}
}