.header-wrp {
	position: relative;
	z-index: 2;
	background-color: #ffffff;
	padding: 16px 0;
	box-shadow: 0px 2px 2px rgba(211, 211, 211, 0.22);
	animation: linear .4s;
	@include mq(max, $mq_md - 1) {
		padding: 18px 20px;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	&.is-scrolled {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		padding: 10px 20px 10px;
		animation: headDown .4s linear;
	}
	&.fh {
		top: 0;
		bottom: 0;
	}
	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
		@include mq(max, $mq_md - 1) {
			flex-wrap: wrap;
			padding: 0 0;
		}
		.main-header {
			position: relative;
			max-width: 112px;
			width: 100%;
			@include mq(max, $mq_md - 1) {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.logo {
				display: flex;
				align-items: center;
				width: 90px;
				transition: linear .3s;
				@include mq(min, $mq_md) {
					&:hover {
						opacity: .8;
						transition: linear .3s;
					}
				}
			}
		}
		.main-nav {
			flex: 1;
			@include mq(max, $mq_md - 1) {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				flex: 0 0 100%;
				max-width: 100%;
				padding: 30px 0;
				padding-top: 0;
				transform: translateX(-120%);
				opacity: 0;
				background-color: #ffffff;
				overflow-y: scroll;
				max-height: calc(100vh);
				transition: linear .2s;
				&.is-active {
					opacity: 1;
					transform: translateX(0%);
					border-top: 1px solid lightgray;
					transition: linear .2s;
				}
				li {
					flex: 0 0 100%;
					max-width: 100%;
					@include mq(max, $mq_md - 1) {
						padding: 0 40px;
					}
					a {
						font-size: 1.2rem;
						text-align: center;
						padding: 18px 0;
						@include mq(max, $mq_md - 1) {
							text-align: left;
						}
					}
				}
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				@include mq(max, $mq_md - 1) {
					padding-top: 16px;
				}
				li {
					a {
						display: block;
						position: relative;
						font-family: $global-font;
						font-size: 18px;
						font-weight: 600; 
						color: #323843;
						line-height: 1.8rem;
						text-transform: capitalize;
						padding: 6px 0;
						margin: 0 8px;
						text-decoration: none;
						@include mq(min, 1000) {
							margin: 0 20px;
						}
						@include mq(max, $mq_md - 1) {
							margin: 0 auto;
							font-size: 20px;
							padding: 18px 0;
						}
						span {
							position: relative;
							display: inline-block;
							padding-bottom: 5px;
							&:before {
								display: block;
								content: "";
								position: absolute;
								width: 0;
								height: 4px;
								bottom: 0;
								left: 0;
								background: $theme-color;
								transition: linear .3s;
							}
						}
						&.is-active {
							/*@include mq(min, $mq_md) {*/
								span {
									&:before {
										width: 100%;
									}
								}
								&:hover {
									span {
										&:before {
											width: 20px;
											transition: linear .3s;
										}
									}
								}
							/*}*/
						}
						@include mq(min, $mq_md) {
							&:hover {
								span {
									&:before {
										width: 20px;
										transition: linear .3s;
									}
								}
							}
						}
					}
					&.has-children {
						position: relative;
						padding-right: 20px;
						> a {
							&:after {
								content: "";
								position: absolute;
								right: -20px;
								top: 45%;
								transform: translateY(-50%) rotate(45deg);
								width: 10px;
								height: 10px;
								border-bottom: 3px solid $theme-color;
								border-right: 3px solid $theme-color;
								transition: linear .2s;
								@include mq(max, $mq_md - 1) {
									right: 0;
								}
							}
						}
						.list-children-box {
							position: absolute;
							padding-top: 20px;
							min-width: 250px;
							left: 0;
							right: 0;
							display: none;
							@include mq(max, $mq_md - 1) {
								position: relative;
								padding: 0;
								min-width: 100%;
							}
						}
						.sub-list {
							display: flex;
							flex-wrap: wrap;
							position: relative;
							background-color: #fff;
							flex-direction: row;
							box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
							padding: 20px 0;

							@include mq(max, $mq_md - 1) {
								box-shadow: none;
								padding: 0;
							}
							li {
								flex: 0 0 100%;
								max-width: 100%;
								@include mq(max, $mq_md - 1) {
									padding: 0;
									padding-left: 20px;
								}
								a {
									font-size: 16px;
									padding: 4px 0;
									text-transform: none;
								}
							}
						}
						@include mq(min, $mq_md) {
							&.nav-active {
								> a {
									&:after {
										top: 55%;
										transform: translateY(-50%) rotate(-135deg);
										transition: linear .2s;
									}
								}
								.list-children-box {
									display: block;
								}
							}
						}
						@include mq(max, $mq_md - 1) {
							> a {
								&.is-hovered {
									&:after {
										top: 48%;
										transform: translateY(-50%) rotate(-135deg);
										transition: linear .2s;
									}
								}
							}
						}
						
 					}
					&.li-contact {
						display: flex;
						background: $theme-color;
						align-items: center;
						@include mq(max, $mq_md - 1) {
							background: none;
						}
						a {
							position: relative;
							color: #fff;
							margin: 0 10px;
							transition: linear .3s;
							@include mq(min, 1000) {
								margin: 0 20px;
							}
							@include mq(min, $mq_md) {
								&:hover {
									opacity: .8;
									transition: linear .3s;
									&:before {
										display: none;
									}
									i {
										right: -8px;
										transition: linear .3s;
									}
								}
							}
							@include mq(max, $mq_md - 1) {
								margin: 0 auto;
								color: #323843;
								text-align: left;
								margin-left: 0;
							}
							/*i {
								position: absolute;
								right: -3px;
								top: 50%;
								transform: translateY(-50%);
								font-size: 14px;
								transition: linear .3s;
								@include mq(min, 1000) {
									right: -5px;
								}
							}*/
						}
					}
				}
			}
		}
	}
}


#toggle-nav {
    display: none;
    position: absolute;
    width: 35px;
    height: 20px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	@include mq(max, $mq_md - 1) {
		width: 45px;
		height: 35px;
		display: block;
		background-color: $theme-color;
	}
	span {
		display: block;
		position: absolute;
		left: 5px;
		right: 5px;
		height: 2px;
		background-color: $base-color;
		transition: linear .2s;
		@include mq(max, $mq_md - 1) {
			background-color: #fff;
			left: 10px;
			right: 10px;
			&:first-child {
				top: 25%;
			}
		}
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}
		&:last-child {
			bottom: 25%;	
		}
	}
	&.is-active {
		span {
			left: 14px;
			right: 14px;
			&:first-child {
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
				transition: linear .2s;
			}
			&:nth-child(2) {
				right: 100%;
				transition: linear .2s;
			}
			&:last-child {
				bottom: 50%;
				transform: translateY(50%) rotate(45deg);
				transition: linear .2s;
			}
		}
	}
}