/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

/*$base-font-family: 'Product-Sans-Regular', sans-serif;*/
.box-450 {
  max-width: 450px;
}

.box-20per {
  max-width: 20%;
}

.box-30 {
  max-width: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Large screens ----------- */
.dflex-ai {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  25% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  50% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  75% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  100% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  25% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  50% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  75% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  100% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes headDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-moz-keyframes headDown {
  from {
    -moz-transform: translateY(-100%);
         transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
}

@-o-keyframes headDown {
  from {
    -o-transform: translateY(-100%);
       transform: translateY(-100%);
  }
  to {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
}

@keyframes headDown {
  from {
    -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes lineCatchy {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@-moz-keyframes lineCatchy {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@-o-keyframes lineCatchy {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@keyframes lineCatchy {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto;
  color: #000;
}

main {
  min-height: -webkit-calc(100vh);
  min-height: -moz-calc(100vh);
  min-height: calc(100vh);
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1180px) {
  .cntr {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cntr-services {
  max-width: 1100px;
}

@media (max-width: 1100px) {
  .cntr-services {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.g-pad {
  padding-top: 100px;
  padding-bottom: 100px;
}

/** LAYOUTS **/
.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-10-xs {
  margin-left: -10px;
  margin-right: -10px;
}

.gap.gap-10-xs > [class^="xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

.gap.gap-10-xs > [class*=" xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 569px) {
  .gap.gap-0-sm {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0-sm > [class^="sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0-sm > [class*=" sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10-sm {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10-sm > [class^="sm"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10-sm > [class*=" sm"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 769px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-15 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .gap.gap-15 > [class^="md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-15 > [class*=" md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-20 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .gap.gap-20 > [class^="md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-20 > [class*=" md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-40 {
    margin-left: -40px;
    margin-right: -40px;
  }
  .gap.gap-40 > [class^="md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-40 > [class*=" md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.gap .xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  max-width: 0%;
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 569px) {
  .gap .sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .gap .md-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .gap .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .gap .md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.header-wrp {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  padding: 16px 0;
  -webkit-box-shadow: 0px 2px 2px rgba(211, 211, 211, 0.22);
     -moz-box-shadow: 0px 2px 2px rgba(211, 211, 211, 0.22);
          box-shadow: 0px 2px 2px rgba(211, 211, 211, 0.22);
  -webkit-animation: linear .4s;
     -moz-animation: linear .4s;
       -o-animation: linear .4s;
          animation: linear .4s;
}

@media (max-width: 768px) {
  .header-wrp {
    padding: 18px 20px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.header-wrp.is-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 10px 20px 10px;
  -webkit-animation: headDown .4s linear;
     -moz-animation: headDown .4s linear;
       -o-animation: headDown .4s linear;
          animation: headDown .4s linear;
}

.header-wrp.fh {
  top: 0;
  bottom: 0;
}

.header-wrp .header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .header-wrp .header-inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 0;
  }
}

.header-wrp .header-inner .main-header {
  position: relative;
  max-width: 112px;
  width: 100%;
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.header-wrp .header-inner .main-header .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

@media (min-width: 769px) {
  .header-wrp .header-inner .main-header .logo:hover {
    opacity: .8;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
}

.header-wrp .header-inner .main-nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 30px 0;
    padding-top: 0;
    -webkit-transform: translateX(-120%);
       -moz-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
         -o-transform: translateX(-120%);
            transform: translateX(-120%);
    opacity: 0;
    background-color: #ffffff;
    overflow-y: scroll;
    max-height: -webkit-calc(100vh);
    max-height: -moz-calc(100vh);
    max-height: calc(100vh);
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    -moz-transition: linear .2s;
    transition: linear .2s;
  }
  .header-wrp .header-inner .main-nav.is-active {
    opacity: 1;
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
    border-top: 1px solid lightgray;
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    -moz-transition: linear .2s;
    transition: linear .2s;
  }
  .header-wrp .header-inner .main-nav li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .header-wrp .header-inner .main-nav li {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav li a {
    font-size: 1.2rem;
    text-align: center;
    padding: 18px 0;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .header-wrp .header-inner .main-nav li a {
    text-align: left;
  }
}

.header-wrp .header-inner .main-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul {
    padding-top: 16px;
  }
}

.header-wrp .header-inner .main-nav ul li a {
  display: block;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #323843;
  line-height: 1.8rem;
  text-transform: capitalize;
  padding: 6px 0;
  margin: 0 8px;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .header-wrp .header-inner .main-nav ul li a {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul li a {
    margin: 0 auto;
    font-size: 20px;
    padding: 18px 0;
  }
}

.header-wrp .header-inner .main-nav ul li a span {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.header-wrp .header-inner .main-nav ul li a span:before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #e30613;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.header-wrp .header-inner .main-nav ul li a.is-active {
  /*@include mq(min, $mq_md) {*/
  /*}*/
}

.header-wrp .header-inner .main-nav ul li a.is-active span:before {
  width: 100%;
}

.header-wrp .header-inner .main-nav ul li a.is-active:hover span:before {
  width: 20px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

@media (min-width: 769px) {
  .header-wrp .header-inner .main-nav ul li a:hover span:before {
    width: 20px;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
}

.header-wrp .header-inner .main-nav ul li.has-children {
  position: relative;
  padding-right: 20px;
}

.header-wrp .header-inner .main-nav ul li.has-children > a:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 45%;
  -webkit-transform: translateY(-50%) rotate(45deg);
     -moz-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
       -o-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #e30613;
  border-right: 3px solid #e30613;
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  -moz-transition: linear .2s;
  transition: linear .2s;
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul li.has-children > a:after {
    right: 0;
  }
}

.header-wrp .header-inner .main-nav ul li.has-children .list-children-box {
  position: absolute;
  padding-top: 20px;
  min-width: 250px;
  left: 0;
  right: 0;
  display: none;
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul li.has-children .list-children-box {
    position: relative;
    padding: 0;
    min-width: 100%;
  }
}

.header-wrp .header-inner .main-nav ul li.has-children .sub-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  background-color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul li.has-children .sub-list {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
}

.header-wrp .header-inner .main-nav ul li.has-children .sub-list li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul li.has-children .sub-list li {
    padding: 0;
    padding-left: 20px;
  }
}

.header-wrp .header-inner .main-nav ul li.has-children .sub-list li a {
  font-size: 16px;
  padding: 4px 0;
  text-transform: none;
}

@media (min-width: 769px) {
  .header-wrp .header-inner .main-nav ul li.has-children.nav-active > a:after {
    top: 55%;
    -webkit-transform: translateY(-50%) rotate(-135deg);
       -moz-transform: translateY(-50%) rotate(-135deg);
        -ms-transform: translateY(-50%) rotate(-135deg);
         -o-transform: translateY(-50%) rotate(-135deg);
            transform: translateY(-50%) rotate(-135deg);
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    -moz-transition: linear .2s;
    transition: linear .2s;
  }
  .header-wrp .header-inner .main-nav ul li.has-children.nav-active .list-children-box {
    display: block;
  }
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul li.has-children > a.is-hovered:after {
    top: 48%;
    -webkit-transform: translateY(-50%) rotate(-135deg);
       -moz-transform: translateY(-50%) rotate(-135deg);
        -ms-transform: translateY(-50%) rotate(-135deg);
         -o-transform: translateY(-50%) rotate(-135deg);
            transform: translateY(-50%) rotate(-135deg);
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    -moz-transition: linear .2s;
    transition: linear .2s;
  }
}

.header-wrp .header-inner .main-nav ul li.li-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: #e30613;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul li.li-contact {
    background: none;
  }
}

.header-wrp .header-inner .main-nav ul li.li-contact a {
  position: relative;
  color: #fff;
  margin: 0 10px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
  /*i {
								position: absolute;
								right: -3px;
								top: 50%;
								transform: translateY(-50%);
								font-size: 14px;
								transition: linear .3s;
								@include mq(min, 1000) {
									right: -5px;
								}
							}*/
}

@media (min-width: 1000px) {
  .header-wrp .header-inner .main-nav ul li.li-contact a {
    margin: 0 20px;
  }
}

@media (min-width: 769px) {
  .header-wrp .header-inner .main-nav ul li.li-contact a:hover {
    opacity: .8;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
  .header-wrp .header-inner .main-nav ul li.li-contact a:hover:before {
    display: none;
  }
  .header-wrp .header-inner .main-nav ul li.li-contact a:hover i {
    right: -8px;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
}

@media (max-width: 768px) {
  .header-wrp .header-inner .main-nav ul li.li-contact a {
    margin: 0 auto;
    color: #323843;
    text-align: left;
    margin-left: 0;
  }
}

#toggle-nav {
  display: none;
  position: absolute;
  width: 35px;
  height: 20px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  #toggle-nav {
    width: 45px;
    height: 35px;
    display: block;
    background-color: #e30613;
  }
}

#toggle-nav span {
  display: block;
  position: absolute;
  left: 5px;
  right: 5px;
  height: 2px;
  background-color: #000;
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  -moz-transition: linear .2s;
  transition: linear .2s;
}

@media (max-width: 768px) {
  #toggle-nav span {
    background-color: #fff;
    left: 10px;
    right: 10px;
  }
  #toggle-nav span:first-child {
    top: 25%;
  }
}

#toggle-nav span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

#toggle-nav span:last-child {
  bottom: 25%;
}

#toggle-nav.is-active span {
  left: 14px;
  right: 14px;
}

#toggle-nav.is-active span:first-child {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
     -moz-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
       -o-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  -moz-transition: linear .2s;
  transition: linear .2s;
}

#toggle-nav.is-active span:nth-child(2) {
  right: 100%;
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  -moz-transition: linear .2s;
  transition: linear .2s;
}

#toggle-nav.is-active span:last-child {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(45deg);
     -moz-transform: translateY(50%) rotate(45deg);
      -ms-transform: translateY(50%) rotate(45deg);
       -o-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  -moz-transition: linear .2s;
  transition: linear .2s;
}

footer {
  background-color: #000;
  padding: 20px 0 50px 0;
}

@media (max-width: 768px) {
  footer {
    padding: 20px 0 40px 0;
  }
}

footer .footer-cntr {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  padding: 0 60px;
}

@media (max-width: 1000px) {
  footer .footer-cntr {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  footer .footer-cntr {
    padding: 0 20px;
  }
}

footer .cntr-body {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 2px solid #626468;
  padding-top: 24px;
}

@media (max-width: 768px) {
  footer .cntr-body .left_part, footer .cntr-body .right_part {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

footer .cntr-body .right_part {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .cntr-body .right_part .col-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
}

footer .cntr-body .right_part .col-links .link-item.unique-size {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

footer .cntr-body .right_part .col-links .link-item.unique-size.is-v2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

footer .cntr-body .right_part .col-links .link-item.unique-size.is-v3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

@media (max-width: 1000px) {
  footer .cntr-body .right_part .col-links .link-item {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 50% !important;
       -moz-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 560px) {
  footer .cntr-body .right_part .col-links .link-item {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 100% !important;
       -moz-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

footer .cntr-body .right_part .gnav-list {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .cntr-body .right_part .gnav-list li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  footer .cntr-body .right_part .gnav-list li {
    padding: 6px 0;
  }
}

footer .cntr-body .right_part .gnav-list li a {
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

@media (max-width: 768px) {
  footer .cntr-body .right_part .gnav-list li a {
    display: block;
    padding: 0;
  }
}

footer .cntr-body .right_part .gnav-list li a:hover {
  text-decoration: underline;
  color: #e30613;
  -webkit-text-decoration-color: #fff;
     -moz-text-decoration-color: #fff;
          text-decoration-color: #fff;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

footer .cntr-body .left_part {
  max-width: 450px;
  width: 100%;
}

@media (max-width: 768px) {
  footer .cntr-body .left_part {
    margin-bottom: 40px;
  }
  footer .cntr-body .left_part .logo {
    display: none;
  }
}

footer .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90px;
  width: 100%;
}

@media (max-width: 768px) {
  footer .logo {
    margin-left: auto;
    margin-right: auto;
  }
}

footer .ftr-add {
  color: #fff;
  margin-top: 30px;
}

footer .ftr-add a {
  color: #fff;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

footer .ftr-add a:hover {
  color: #e30613;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

footer .ftr-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
}

@media (max-width: 768px) {
  footer .ftr-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #626468;
  }
}

footer .ftr-bottom .other-links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

footer .ftr-bottom .other-links ul li {
  position: relative;
  padding: 0 15px;
}

footer .ftr-bottom .other-links ul li:last-child:before {
  content: "";
}

footer .ftr-bottom .other-links ul li:before {
  content: "|";
  position: absolute;
  right: -2px;
  top: 0;
  color: #b1b2b4;
  bottom: 0;
}

footer .ftr-bottom .other-links ul li a {
  font-weight: 400;
  color: #b1b2b4 !important;
  color: #fff;
  text-decoration: none;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

@media (max-width: 768px) {
  footer .ftr-bottom .other-links ul li a {
    font-size: 14px;
  }
}

footer .ftr-bottom .other-links ul li a:hover {
  color: #e30613 !important;
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
     -moz-text-decoration-color: #fff;
          text-decoration-color: #fff;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

footer .ftr-bottom .copy-right {
  text-align: right;
  color: #b1b2b4;
  font-size: 16px;
}

@media (max-width: 768px) {
  footer .ftr-bottom .copy-right {
    text-align: center;
    font-size: 14px;
  }
}

/** MODULES **/
.card {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}

.card .card-head, .card .card-body, .card .card-foot {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.card .card-head .card-title {
  font-family: "Raleway", sans-serif;
  padding: 30px 0 0 0;
  font-size: 1.5em;
}

.card .card-body, .card .card-foot {
  position: relative;
  padding: 30px 0 0 0;
}

.card-common {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  text-decoration: none;
  color: #000;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

@media (min-width: 769px) {
  .card-common:hover {
    opacity: .8;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
  .card-common:hover .card-body .card-title {
    color: #e30613;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
}

.card-common .card-header {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: .25rem;
     -moz-border-radius: .25rem;
          border-radius: .25rem;
  background-color: #e3e3e3;
}

.card-common .card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 20px;
  border-left: .0625rem solid #e3e3e3;
  border-right: .0625rem solid #e3e3e3;
  border-bottom: .0625rem solid #e3e3e3;
  -webkit-border-bottom-left-radius: 1rem;
     -moz-border-radius-bottomleft: 1rem;
          border-bottom-left-radius: 1rem;
  -webkit-border-bottom-right-radius: 1rem;
     -moz-border-radius-bottomright: 1rem;
          border-bottom-right-radius: 1rem;
  border-top: 0;
}

.card-common .card-body .card-title {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-services {
  display: block;
  -webkit-box-shadow: 2px 4px 4px #e3e3e3;
     -moz-box-shadow: 2px 4px 4px #e3e3e3;
          box-shadow: 2px 4px 4px #e3e3e3;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 40px 20px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-services:hover {
  background-color: rgba(204, 204, 204, 0.2);
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-services:hover .card-icon img {
  -webkit-animation: bounce .5s linear;
     -moz-animation: bounce .5s linear;
       -o-animation: bounce .5s linear;
          animation: bounce .5s linear;
}

.card-services:hover .card-title {
  font-family: "Raleway", sans-serif;
  color: #e30613;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-services .card-title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-services.is-v2 {
  padding: 30px 20px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 768px) {
  .card-services.is-v2 {
    padding: 20px 0;
  }
}

.card-services.is-v2 .card-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.card-services.is-v2 .card-body {
  padding-top: 10px;
}

.card-services.is-v2:hover .card-title {
  color: #000;
}

.card-mission {
  display: block;
  padding: 20px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-mission:hover {
  -webkit-box-shadow: 0 2px 4px #ccc;
     -moz-box-shadow: 0 2px 4px #ccc;
          box-shadow: 0 2px 4px #ccc;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-mission .card-header .card-img {
  text-align: center;
}

.card-mission .card-body {
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.card-mission .card-body .card-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-mission .card-body .card-title {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .card-mission .card-body .card-title {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: -moz-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .card-mission .card-body .card-title {
    font-size: 24px;
  }
}

.card-tcenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 450px;
  color: #fff;
  text-decoration: none;
  /*border-radius: 14px;*/
  padding: 10px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

@media (max-width: 568px) {
  .card-tcenter {
    font-size: 16px;
    height: 350px;
  }
}

.card-tcenter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /*border-radius: 14px;*/
}

.card-tcenter .title {
  font-family: "Raleway", sans-serif;
  line-height: normal;
}

.card-tcenter .title {
  font-size: 16px;
}

@media screen and (min-width: 375px) {
  .card-tcenter .title {
    font-size: -webkit-calc(16px + 19 * ((100vw - 375px) / 825));
    font-size: -moz-calc(16px + 19 * ((100vw - 375px) / 825));
    font-size: calc(16px + 19 * ((100vw - 375px) / 825));
  }
}

@media screen and (min-width: 1200px) {
  .card-tcenter .title {
    font-size: 35px;
  }
}

@media (max-width: 568px) {
  .card-tcenter .title {
    font-size: 35px;
  }
}

@media (max-width: 360px) {
  .card-tcenter .title {
    font-size: 30px;
  }
}

.card-enterprise {
  text-decoration: none;
  text-align: center;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-enterprise .card-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-enterprise .card-body {
  background-color: #fff;
  border: 1px solid lightgray;
  border-top: 0;
  padding-top: 0;
  padding: 25px 20px 40px 20px;
}

.card-enterprise .card-body h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  background: #fff;
  text-transform: capitalize;
  color: #202020;
}

.card-enterprise .card-body h3 span {
  position: relative;
  display: inline-block;
}

.card-enterprise .card-body h3 span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 4px;
  background-color: #e30613;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.card-enterprise .card-body .more {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
}

.card-enterprise:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-enterprise:hover .card-body h3 span:before {
  width: 100%;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.el_card {
  display: block;
  text-decoration: none;
  color: #000;
  overflow: hidden;
}

.el_card .card-header {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.el_card .card-body {
  border: 1px solid #ccc;
  padding: 20px;
}

.el_card .card-body .title {
  font-size: 16px;
  font-weight: 500;
}

.hero-slider-body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-slider-body .hero-col.is-info {
  max-width: 800px;
  width: 100%;
  padding-left: 125px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .hero-slider-body .hero-col.is-info {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }
}

.hero-slider-body .hero-col.is-info p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  margin: 0px 0px 29px 0px;
}

.hero-slider-body .hero-col.is-info p {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .hero-slider-body .hero-col.is-info p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: -moz-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .hero-slider-body .hero-col.is-info p {
    font-size: 24px;
  }
}

.hero-slider-body .hero-col.is-info p {
  line-height: 24px;
}

@media screen and (min-width: 320px) {
  .hero-slider-body .hero-col.is-info p {
    line-height: -webkit-calc(24px + 4 * ((100vw - 320px) / 960));
    line-height: -moz-calc(24px + 4 * ((100vw - 320px) / 960));
    line-height: calc(24px + 4 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .hero-slider-body .hero-col.is-info p {
    line-height: 28px;
  }
}

.hero-slider-body .hero-col.is-info .hero-title h1 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 800;
  margin: 0px 0px 55px 0px;
}

.hero-slider-body .hero-col.is-info .hero-title h1 {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .hero-slider-body .hero-col.is-info .hero-title h1 {
    font-size: -webkit-calc(25px + 65 * ((100vw - 320px) / 960));
    font-size: -moz-calc(25px + 65 * ((100vw - 320px) / 960));
    font-size: calc(25px + 65 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .hero-slider-body .hero-col.is-info .hero-title h1 {
    font-size: 90px;
  }
}

.hero-slider-body .hero-col.is-info .hero-title h1 {
  line-height: 28px;
}

@media screen and (min-width: 320px) {
  .hero-slider-body .hero-col.is-info .hero-title h1 {
    line-height: -webkit-calc(28px + 42 * ((100vw - 320px) / 960));
    line-height: -moz-calc(28px + 42 * ((100vw - 320px) / 960));
    line-height: calc(28px + 42 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .hero-slider-body .hero-col.is-info .hero-title h1 {
    line-height: 70px;
  }
}

@media (max-width: 768px) {
  .hero-slider-body .hero-col.is-info .hero-title h1 {
    margin-bottom: 20px;
  }
}

.hero-slider-body .hero-col.is-info .hero-title h1 .xl {
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 10px solid #e30613;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .hero-slider-body .hero-col.is-info .hero-title h1 .xl {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.hero-slider-body .hero-col.is-info .hero-title h1 .xxl {
  display: block;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .hero-slider-body .hero-col.is-info .hero-title h1 .xxl {
    display: inline-block;
  }
}

.hero-slider-body .hero-col.is-info .btn-arr {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #ffffff;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  padding: 14px 40px 14px 40px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

@media (min-width: 769px) {
  .hero-slider-body .hero-col.is-info .btn-arr:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
       -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
    -webkit-transform: translateY(-5px);
       -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
         -o-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
}

.hero-slider-body .hero-col.is-img {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  max-width: 500px;
  height: -webkit-calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
  height: calc(100vh - 80px);
  /*img {
				max-height: 430px;
    			width: auto;
				@include mq(max, $mq_md - 1) {
					max-height: 280px;
				}
			}*/
}

@media (max-width: 768px) {
  .hero-slider-body .hero-col.is-img {
    text-align: right;
    margin-top: 30px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    height: 320px;
    margin-bottom: 30px;
  }
}

#hero-slider .hero-slider-body .hero-col.is-img img {
  display: inline-block;
}

#m-slider .slide-item {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#m-slider .slide-item {
  min-height: 300px;
}

@media screen and (min-width: 320px) {
  #m-slider .slide-item {
    min-height: -webkit-calc(300px + 100 * ((100vw - 320px) / 960));
    min-height: -moz-calc(300px + 100 * ((100vw - 320px) / 960));
    min-height: calc(300px + 100 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  #m-slider .slide-item {
    min-height: 400px;
  }
}

#e-slider .slide-item {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#e-slider .slide-item {
  min-height: 300px;
}

@media screen and (min-width: 320px) {
  #e-slider .slide-item {
    min-height: -webkit-calc(300px + 100 * ((100vw - 320px) / 960));
    min-height: -moz-calc(300px + 100 * ((100vw - 320px) / 960));
    min-height: calc(300px + 100 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  #e-slider .slide-item {
    min-height: 400px;
  }
}

#i-slider {
  margin-bottom: 50px;
}

#i-slider .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -o-object-fit: cover;
     object-fit: cover;
  height: 537px;
}

@media (max-width: 768px) {
  #i-slider .item {
    height: auto;
  }
}

#i-slider .item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#slogan-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slogan-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#slogan-slider .owl-dots button {
  padding: 0 2px !important;
  outline: none;
}

@media (max-width: 768px) {
  #slogan-slider .owl-dots button {
    padding: 0 1px !important;
  }
}

#slogan-slider .owl-dots button span {
  display: block;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 100% 100%;
     -moz-border-radius: 100% 100%;
          border-radius: 100% 100%;
  width: 13px;
  height: 13px;
}

#slogan-slider .owl-dots button.active span {
  background: #ffffff;
  width: 25px;
  -webkit-border-radius: 6em;
     -moz-border-radius: 6em;
          border-radius: 6em;
}

.list-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

@media (max-width: 568px) {
  .list-btn {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.list-btn li {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 568px) {
  .list-btn li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.services-list {
  position: relative;
  margin-top: 40px;
}

.services-list .services-item {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .services-list .services-item {
    margin-bottom: 20px;
  }
}

.services-list .services-item:nth-child(even) .card-services {
  background-color: rgba(204, 204, 204, 0.2);
}

.services-list .services-item:nth-child(even) .card-services:hover {
  background-color: #ffffff;
}

.gnav-list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .gnav-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 568px) {
  .gnav-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.gnav-list li a {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #747b86;
  padding: 0 20px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.gnav-list li a:hover, .gnav-list li a.is-active {
  color: #ffffff;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .social-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-list li a {
  text-decoration: none;
  color: #747b86;
  font-size: 30px;
  padding: 0 5px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.social-list li a:hover {
  color: #ffffff;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.social-list.is-v2 {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto -10px;
}

.social-list.is-v2 li {
  padding: 0 10px;
}

.social-list.is-v2 li a:hover {
  color: #e30613;
}

.btn {
  position: relative;
  text-decoration: none;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  color: #323843;
  font-size: 1.25rem;
  line-height: 2.5rem;
  position: relative;
  display: inline-block;
  padding-right: 1.625rem;
}

@media (max-width: 568px) {
  .btn {
    font-size: 15px;
    padding: 6px 35px 6px 20px;
  }
}

.btn-arr {
  background: #e30613;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #ffffff;
  padding: 14px 50px 14px 50px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

@media (min-width: 769px) {
  .btn-arr:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
       -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
    -webkit-transform: translateY(-5px);
       -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
         -o-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
}

.btn-arr_down {
  color: #e30613;
  font-size: 24px;
  padding-right: 40px;
}

@media (min-width: 1000px) {
  .btn-arr_down:hover i {
    top: 60%;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
  }
}

.btn-arr_down i {
  position: absolute;
  color: #000;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.btn-submit {
  font-weight: 500;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  padding-right: 40px;
  cursor: pointer;
}

.btn-submit:hover i {
  right: -5px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.btn-submit i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  color: #e30613;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.btn-contact {
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid #626468;
  padding: 10px 0;
}

.btn-contact {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .btn-contact {
    font-size: -webkit-calc(20px + 20 * ((100vw - 320px) / 960));
    font-size: -moz-calc(20px + 20 * ((100vw - 320px) / 960));
    font-size: calc(20px + 20 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .btn-contact {
    font-size: 40px;
  }
}

.btn-learn {
  margin-top: 20px;
  background-color: #e30613;
  color: #fff;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.btn-learn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
     -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.btn-talk {
  background-color: #e30613;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.btn-talk:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
     -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.btn-touch {
  color: #fff;
  padding: 2px 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.btn-touch {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .btn-touch {
    font-size: -webkit-calc(16px + 7 * ((100vw - 320px) / 960));
    font-size: -moz-calc(16px + 7 * ((100vw - 320px) / 960));
    font-size: calc(16px + 7 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .btn-touch {
    font-size: 23px;
  }
}

.btn-touch span {
  position: relative;
  display: block;
}

.btn-touch span:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #e30613;
  -webkit-animation: lineCatchy 3s linear 1s infinite;
     -moz-animation: lineCatchy 3s linear 1s infinite;
       -o-animation: lineCatchy 3s linear 1s infinite;
          animation: lineCatchy 3s linear 1s infinite;
}

.main_title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #323843;
  line-height: normal;
  margin-bottom: 50px;
  /* span {
        position: relative;
        padding-bottom: 10px;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 40%;
            right: 40%;
            height: 2px;
            background-color: $theme-color;
        }
    }*/
}

.main_title {
  font-size: 26px;
}

@media screen and (min-width: 320px) {
  .main_title {
    font-size: -webkit-calc(26px + 34 * ((100vw - 320px) / 960));
    font-size: -moz-calc(26px + 34 * ((100vw - 320px) / 960));
    font-size: calc(26px + 34 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .main_title {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .main_title {
    margin-bottom: 30px;
  }
}

.lg-title {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #e30613;
  line-height: 40px;
  margin-bottom: 30px;
}

.lg-title {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .lg-title {
    font-size: -webkit-calc(30px + 30 * ((100vw - 320px) / 960));
    font-size: -moz-calc(30px + 30 * ((100vw - 320px) / 960));
    font-size: calc(30px + 30 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .lg-title {
    font-size: 60px;
  }
}

.line-title {
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  font-weight: 300;
  margin-bottom: 70px;
  text-rendering: optimizelegibility;
  padding-bottom: 20px;
}

.line-title:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  max-width: 150px;
  width: 100%;
  height: 4px;
  background-color: #e30613;
}

.cntct-form {
  width: 100%;
}

.cntct-form label {
  display: block;
  width: 100%;
}

.cntct-form input, .cntct-form textarea {
  display: block;
  width: 100%;
  color: #323843;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d4d6d8;
  padding-bottom: 19px;
  padding-top: 19px;
  margin-bottom: 20px;
  -webkit-transition: linear .4s;
  -o-transition: linear .4s;
  -moz-transition: linear .4s;
  transition: linear .4s;
}

.cntct-form input:focus, .cntct-form textarea:focus {
  outline: none !important;
  border-color: #e30613;
  -webkit-transition: linear .4s;
  -o-transition: linear .4s;
  -moz-transition: linear .4s;
  transition: linear .4s;
}

.cntct-form textarea {
  min-height: 120px;
  overflow: auto;
  resize: vertical;
}

.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.global-mt {
  margin-top: 100px;
}

/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

.mt-30-xs {
  margin-top: 30px;
}

/** PC **/
@media (min-width: 769px) {
  .mt-0 {
    margin-top: 0px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-15-xs {
  margin-bottom: 15px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

/** PC **/
@media (min-width: 769px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
  .mb-8 {
    margin-bottom: 8px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .pt-0 {
    padding-top: 0px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
.dblock {
  display: block;
}

.diblock {
  display: inline-block;
}

.dflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.diflex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dnone {
  display: none;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ai {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.global-mt {
  margin-top: 100px;
}

/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

.mt-30-xs {
  margin-top: 30px;
}

/** PC **/
@media (min-width: 769px) {
  .mt-0 {
    margin-top: 0px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-15-xs {
  margin-bottom: 15px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

/** PC **/
@media (min-width: 769px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
  .mb-8 {
    margin-bottom: 8px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .pt-0 {
    padding-top: 0px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
.fs-18-xs {
  font-size: 18px;
}

@media (min-width: 769px) {
  .fs-20 {
    font-size: 20px !important;
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.is-wide {
  width: 100%;
}

.flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ov-hidden {
  overflow: hidden;
}

.plr-no {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.jc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.v-pc {
  display: block;
}

@media (max-width: 768px) {
  .v-pc {
    display: none;
  }
}

.v-sp {
  display: none;
}

@media (max-width: 768px) {
  .v-sp {
    display: block;
  }
}

.v-sp {
  display: none;
}

@media (max-width: 768px) {
  .v-sp {
    display: block;
  }
}

@media (max-width: 768px) {
  .hero-sec {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .colrev-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.enter-sec {
  position: relative;
  overflow: hidden;
  padding: 100px 0 60px 0;
}

@media (max-width: 568px) {
  .enter-sec {
    padding: 40px 0;
  }
}

.enter-sec .main_title {
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  .enter-sec .main_title {
    margin-bottom: 35px;
  }
}

.enter-sec .btn-bottom {
  margin-top: 40px;
}

.page_home .enter-sec {
  padding-top: 50px;
}

.slogans-sec {
  position: relative;
  background: url("../img/slogan.jpeg") center center/cover no-repeat;
  color: #fff;
  padding-top: 90px;
  padding-bottom: 130px;
  margin-top: 12px;
}

@media (min-width: 769px) {
  .slogans-sec {
    background-attachment: fixed;
  }
}

.slogans-sec:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(93, 11, 14, 0.66);
}

.slogans-sec .inner {
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.slogans-sec .inner .title {
  position: relative;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .slogans-sec .inner .title {
    font-size: 30px;
  }
}

.slogans-sec .inner .title span {
  display: inline-block;
  position: relative;
  /*&:before {
    				content: "";
    				position: absolute;
    				bottom: 0;
    				left: 0;
    				right: 0;
    				height: 4px;
    				background-color: red;
    			}*/
}

.slogans-sec .inner .phar p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.banner-sec {
  position: relative;
  background: url("../img/banner.jpeg") center center/cover no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.banner-sec h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.banner-sec h2 {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .banner-sec h2 {
    font-size: -webkit-calc(30px + 50 * ((100vw - 320px) / 960));
    font-size: -moz-calc(30px + 50 * ((100vw - 320px) / 960));
    font-size: calc(30px + 50 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .banner-sec h2 {
    font-size: 80px;
  }
}

.banner-sec h2 {
  line-height: 35px;
}

@media screen and (min-width: 320px) {
  .banner-sec h2 {
    line-height: -webkit-calc(35px + 41 * ((100vw - 320px) / 960));
    line-height: -moz-calc(35px + 41 * ((100vw - 320px) / 960));
    line-height: calc(35px + 41 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .banner-sec h2 {
    line-height: 76px;
  }
}

.banner-sec h2 span {
  position: relative;
  display: inline-block;
  padding: 23px 0;
}

.banner-sec h2 span:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: #e30613;
}

.banner-sec h2 span.is-l:before {
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .banner-sec h2 span.is-r {
    padding-top: 10px;
  }
}

.banner-sec h2 span.is-r:before {
  background: #fff;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .banner-sec h2 span.is-r:before {
    display: none;
  }
}

.float-wrap {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 8px 16px 0 rgba(50, 56, 67, 0.05);
     -moz-box-shadow: 0 8px 16px 0 rgba(50, 56, 67, 0.05);
          box-shadow: 0 8px 16px 0 rgba(50, 56, 67, 0.05);
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  width: 100%;
  padding: 80px 50px;
  z-index: 2;
}

@media (max-width: 768px) {
  .float-wrap {
    padding: 30px 20px 40px 20px;
    margin-bottom: 20px;
  }
}

.about-sec .inner {
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.about-sec .inner p {
  font-size: 18px;
  line-height: 30px;
}

.about-sec .inner .mb {
  margin-bottom: 30px;
}

.empow-sec {
  background-color: #f5f5f5;
}

.empow-sec .inner .item {
  margin-bottom: 30px;
  min-height: 300px;
}

.empow-sec .inner .card-services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  padding: 50px 25px 50px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.empow-sec .inner .card-services .card-body {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-height: 100%;
  padding-top: 0;
}

.empow-sec .inner .card-services .card-title span {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.empow-sec .inner .card-services .card-title span:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  bottom: 0;
  height: 4px;
  background-color: #e30613;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.empow-sec .inner .card-services:hover {
  /*background-color: #03a9f4;*/
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.empow-sec .inner .card-services:hover .card-title {
  color: #000;
}

.empow-sec .inner .card-services:hover .card-title span:before {
  width: 100%;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.enterprise-sec {
  background-color: #f5f5f5;
}

.enterprise-sec .item {
  margin-bottom: 30px;
}

.txt-box {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.contact-sec {
  padding: 40px 20px;
  background: #e30613;
  color: #fff;
}

.contact-sec .cntct-body {
  max-width: 800px;
  width: 100%;
  margin: auto;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.contact-sec .cntct-body h3 {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .contact-sec .cntct-body h3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.pg-mission {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .pg-mission {
    margin-top: 0;
  }
}

.pg-mission .txt-box {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .pg-mission .txt-box {
    margin-bottom: 30px;
  }
}

.ms-wrp {
  margin-top: 50px;
}

.other_box-inf {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  max-width: 800px;
  width: 100%;
  color: #747b86;
  line-height: 30px;
}

.other_box-inf {
  margin: 50px auto;
}

@media screen and (min-width: 320px) {
  .other_box-inf {
    margin: -webkit-calc(50px + 50 * ((100vw - 320px) / 960)) auto;
    margin: -moz-calc(50px + 50 * ((100vw - 320px) / 960)) auto;
    margin: calc(50px + 50 * ((100vw - 320px) / 960)) auto;
  }
}

@media screen and (min-width: 1280px) {
  .other_box-inf {
    margin: 100px auto;
  }
}

.other_box-inf {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .other_box-inf {
    font-size: -webkit-calc(16px + 4 * ((100vw - 320px) / 960));
    font-size: -moz-calc(16px + 4 * ((100vw - 320px) / 960));
    font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .other_box-inf {
    font-size: 20px;
  }
}

.m_col-sec {
  padding-bottom: 50px;
}

.m_col-sec .body_cols {
  margin-top: 40px;
}

.enter-pad {
  padding: 0;
}

.enter-cntr {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .enter-cntr {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.pg-enterprise {
  margin-top: 30px;
}

.enterprise-top {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enterprise-top .enter-r {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 768px) {
  .enterprise-top .enter-r {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 50px;
  }
}

.enterprise-top .enter-r .lg-title {
  text-align: left;
  color: #000;
}

.enterprise-top .enter-r .lg-title {
  font-size: 50px;
}

@media screen and (min-width: 320px) {
  .enterprise-top .enter-r .lg-title {
    font-size: -webkit-calc(50px + 30 * ((100vw - 320px) / 960));
    font-size: -moz-calc(50px + 30 * ((100vw - 320px) / 960));
    font-size: calc(50px + 30 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .enterprise-top .enter-r .lg-title {
    font-size: 80px;
  }
}

.enterprise-top .enter-r .lg-title {
  line-height: 60px;
}

@media screen and (min-width: 320px) {
  .enterprise-top .enter-r .lg-title {
    line-height: -webkit-calc(60px + 20 * ((100vw - 320px) / 960));
    line-height: -moz-calc(60px + 20 * ((100vw - 320px) / 960));
    line-height: calc(60px + 20 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .enterprise-top .enter-r .lg-title {
    line-height: 80px;
  }
}

@media (max-width: 1000px) {
  .enterprise-top .enter-r .lg-title {
    margin-bottom: 20px;
  }
}

.enterprise-top .enter-r p {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .enterprise-top .enter-r p {
    font-size: -webkit-calc(16px + 4 * ((100vw - 320px) / 960));
    font-size: -moz-calc(16px + 4 * ((100vw - 320px) / 960));
    font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .enterprise-top .enter-r p {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .enterprise-top .enter-r p {
    font-size: 16px;
  }
}

.enterprise-top.on-home .enter-r .lg-title {
  margin-bottom: 10px;
}

.enterprise-top.on-home .enter-r .lg-title {
  font-size: 50px;
}

@media screen and (min-width: 320px) {
  .enterprise-top.on-home .enter-r .lg-title {
    font-size: -webkit-calc(50px + 10 * ((100vw - 320px) / 960));
    font-size: -moz-calc(50px + 10 * ((100vw - 320px) / 960));
    font-size: calc(50px + 10 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .enterprise-top.on-home .enter-r .lg-title {
    font-size: 60px;
  }
}

.enterprise-top.on-home .enter-r .lg-title {
  line-height: 60px;
}

@media screen and (min-width: 320px) {
  .enterprise-top.on-home .enter-r .lg-title {
    line-height: -webkit-calc(60px + 10 * ((100vw - 320px) / 960));
    line-height: -moz-calc(60px + 10 * ((100vw - 320px) / 960));
    line-height: calc(60px + 10 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .enterprise-top.on-home .enter-r .lg-title {
    line-height: 70px;
  }
}

.enterprise-top.on-home .enter-r p {
  margin-bottom: 10px;
}

.enterprise-top .enter-l {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .enterprise-top .enter-l {
    padding-left: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.enterprise-top.img-sm {
  margin-bottom: 80px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0;
}

.enterprise-top.img-sm .enter-l {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

@media (max-width: 768px) {
  .enterprise-top.img-sm .enter-l {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.enterprise-top.img-sm .enter-r {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
}

@media (max-width: 768px) {
  .enterprise-top.img-sm .enter-r {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.enterprise-top.img-sm .enter-r .lg-title {
  text-align: left;
  color: #000;
  margin-bottom: 20px;
}

.enterprise-top.img-sm .enter-r .lg-title {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .enterprise-top.img-sm .enter-r .lg-title {
    font-size: -webkit-calc(30px + 20 * ((100vw - 320px) / 960));
    font-size: -moz-calc(30px + 20 * ((100vw - 320px) / 960));
    font-size: calc(30px + 20 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .enterprise-top.img-sm .enter-r .lg-title {
    font-size: 50px;
  }
}

.enterprise-top.img-sm .enter-r .lg-title {
  line-height: 30px;
}

@media screen and (min-width: 320px) {
  .enterprise-top.img-sm .enter-r .lg-title {
    line-height: -webkit-calc(30px + 20 * ((100vw - 320px) / 960));
    line-height: -moz-calc(30px + 20 * ((100vw - 320px) / 960));
    line-height: calc(30px + 20 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .enterprise-top.img-sm .enter-r .lg-title {
    line-height: 50px;
  }
}

.enterprise-top.img-sm .enter-r p {
  max-width: 400px;
  width: 100%;
}

#enter-slider {
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  #enter-slider {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  #enter-slider {
    padding: 40px 20px;
  }
}

#enter-slider .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: -40px;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1200px) {
  #enter-slider .owl-nav {
    left: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  #enter-slider .owl-nav {
    top: 40%;
    left: -15px;
    right: -15px;
  }
}

#enter-slider .owl-nav button {
  font-size: 80px;
  color: #e30613;
  outline: none;
  font-family: sans-serif;
}

#enter-slider .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#enter-slider .owl-dots button {
  padding-left: 4px !important;
  padding-right: 4px !important;
  outline: none;
}

#enter-slider .owl-dots button.active span {
  background-color: #e30613;
}

#enter-slider .owl-dots button span {
  display: block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 20em;
     -moz-border-radius: 20em;
          border-radius: 20em;
  background-color: lightgray;
}

#e-slider2 .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
     -moz-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.box-text {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 768px) {
  .box-text {
    padding: 20px 0;
  }
}

.box-text .title {
  margin-bottom: 20px;
}

.box-text .title {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .box-text .title {
    font-size: -webkit-calc(18px + 6 * ((100vw - 320px) / 960));
    font-size: -moz-calc(18px + 6 * ((100vw - 320px) / 960));
    font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .box-text .title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .box-text .title {
    margin-bottom: 10px;
  }
}

.box-text p {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .box-text p {
    font-size: -webkit-calc(16px + 2 * ((100vw - 320px) / 960));
    font-size: -moz-calc(16px + 2 * ((100vw - 320px) / 960));
    font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .box-text p {
    font-size: 18px;
  }
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services-pg .services-hero .box-l .title {
  font-family: "Roboto", sans-serif;
}

.services-pg .services-hero .box-l .title {
  font-size: 40px;
}

@media screen and (min-width: 320px) {
  .services-pg .services-hero .box-l .title {
    font-size: -webkit-calc(40px + 20 * ((100vw - 320px) / 960));
    font-size: -moz-calc(40px + 20 * ((100vw - 320px) / 960));
    font-size: calc(40px + 20 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .services-pg .services-hero .box-l .title {
    font-size: 60px;
  }
}

.services-pg .services-hero .box-l .txt-box {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-left: 0;
  font-size: 18px;
  color: #747b86;
  margin-bottom: 40px;
}

.s_col-sec {
  margin: -webkit-calc( 100vh / 4) 0;
  margin: -moz-calc( 100vh / 4) 0;
  margin: calc( 100vh / 4) 0;
}

@media (max-width: 768px) {
  .s_col-sec {
    margin: 50px 0;
  }
}

.list_i .list_i-item {
  padding: -webkit-calc(100vh / 10) 0;
  padding: -moz-calc(100vh / 10) 0;
  padding: calc(100vh / 10) 0;
}

@media (max-width: 768px) {
  .list_i .list_i-item {
    padding: 20px 0;
  }
}

.list_i .card-icon {
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .list_i .card-icon {
    max-width: 100px;
    margin-bottom: 10px;
  }
}

.list_i .card-icon_info {
  font-family: "Source Sans Pro", sans-serif;
  color: #747b86;
  font-size: 18px;
  line-height: 30px;
}

.list_i .card-icon_info .title {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  font-weight: 400;
  margin-bottom: 20px;
}

.list_i .card-icon_info .title {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .list_i .card-icon_info .title {
    font-size: -webkit-calc(20px + 10 * ((100vw - 320px) / 960));
    font-size: -moz-calc(20px + 10 * ((100vw - 320px) / 960));
    font-size: calc(20px + 10 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .list_i .card-icon_info .title {
    font-size: 30px;
  }
}

.card-contact_l {
  max-width: 480px;
  width: 100%;
}

.card-contact_l p {
  color: #6a7c92;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.card-contact_l .title {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -0.3px;
  padding-bottom: 20px;
  margin-bottom: 24px;
}

.card-contact_l .title {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .card-contact_l .title {
    font-size: -webkit-calc(30px + 5 * ((100vw - 320px) / 960));
    font-size: -moz-calc(30px + 5 * ((100vw - 320px) / 960));
    font-size: calc(30px + 5 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .card-contact_l .title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .card-contact_l .title {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.card-contact_l .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background: #e30613;
}

.card-contact_l .info {
  display: block;
  margin: 50px 0 10px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #e30613;
}

.card-contact_l .info {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .card-contact_l .info {
    font-size: -webkit-calc(18px + 6 * ((100vw - 320px) / 960));
    font-size: -moz-calc(18px + 6 * ((100vw - 320px) / 960));
    font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .card-contact_l .info {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .card-contact_l .info {
    margin: 20px 0 10px 0;
  }
}

.contact-pg {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .card-contact_r {
    margin-top: 30px;
  }
}

.card-contact_r .title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.3px;
}

.card-contact_r .title {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .card-contact_r .title {
    font-size: -webkit-calc(20px + 5 * ((100vw - 320px) / 960));
    font-size: -moz-calc(20px + 5 * ((100vw - 320px) / 960));
    font-size: calc(20px + 5 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .card-contact_r .title {
    font-size: 25px;
  }
}

.card-contact_r {
  -webkit-box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.12);
     -moz-box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -moz-border-radius 0.3s, -moz-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-border-radius 0.3s, -moz-border-radius 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
  padding: 45px 40px 45px 40px;
}

@media (max-width: 768px) {
  .card-contact_r {
    padding: 35px 20px 35px 20px;
  }
}

.cntct-i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 322px;
  width: 100%;
  margin-top: 50px;
}

.cntct-i li {
  display: block;
  position: relative;
  text-decoration: none;
  color: #6a7c92;
  padding: 0px 0px 0 83px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .cntct-i li {
    padding-left: 50px;
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.cntct-i li img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .cntct-i li img {
    width: 30px;
  }
}

.page_home main {
  padding-top: 45px !important;
}

@media (min-width: 769px) {
  .page_home main {
    padding-top: 0 !important;
  }
}

.mobile-hr {
  display: none;
}

@media (max-width: 768px) {
  .mobile-hr {
    display: block;
    margin: 50px 0;
  }
}

.sec-talk {
  padding: 40px 0;
  background-color: #e30613;
  color: #fff;
  text-align: center;
}

.sec-talk h3 {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .sec-talk h3 {
    font-size: -webkit-calc(25px + 10 * ((100vw - 320px) / 960));
    font-size: -moz-calc(25px + 10 * ((100vw - 320px) / 960));
    font-size: calc(25px + 10 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .sec-talk h3 {
    font-size: 35px;
  }
}

.brands-sec {
  position: relative;
  background-color: #fff;
  padding: 50px 0;
}
