.btn {
	position: relative;
	text-decoration: none;
	color: $base-color;
	font-family: $global-font;
    color: #323843;
    font-size: 1.25rem;
    line-height: 2.5rem;
    position: relative;
    display: inline-block;
	padding-right: 1.625rem;
	@include mq(max, $mq_sm - 1) {
		font-size: 15px;
		padding: 6px 35px 6px 20px;
	}
	&-arr {
		background: $theme-color;
		font-size: 15px;
	    font-weight: 500;
	    line-height: 24px;
	    letter-spacing: 0.8px;
		color: #ffffff;
		padding: 14px 50px 14px 50px;
		transition: linear .3s;
		@include mq(min, $mq_md) {
			&:hover {
				box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
				transform: translateY(-5px);
				transition: linear .3s;
			}
		}
	}
	&-arr_down {
		color: $theme-color;
		font-size: 24px;
		padding-right: 40px;
		@include mq(min, 1000) {
			&:hover {
				i {
					top: 60%;
					transition: linear .3s;
				}
			}
		}
		i {
			position: absolute;
			color: $base-color;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: linear .3s;
		}
	}
	&-submit {
		font-weight: 500;
		font-size: 20px;
		background-color: #ffffff;
		border: none;
		padding-right: 40px;
		cursor: pointer;
		&:hover {
			i {
				right: -5px;
				transition: linear .3s;
			}
		}
		i {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			color: $theme-color;
			transition: linear .3s;
		}
	}
	&-contact {
		font-weight: 600;
		color: #fff;
		$min-vw: 320px;
		$max-vw: 1280px;
		$min-font-size: 20px;
		$max-font-size: 40px;
		@include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
		border-bottom: 2px solid #626468;
		padding: 10px 0;
	}
	&-learn {
		margin-top: 20px;
		background-color: $theme-color;
		color: #fff;
		text-align: center;
		padding-right: 20px;
		padding-left: 20px;
		transition: linear .3s;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
			transition: linear .3s;
		}
	}
	&-talk {
		background-color: $theme-color;
		padding: 0 20px;
		text-align: center;
		color: #fff;
		margin-top: 30px;
		transition: linear .3s;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
			transition: linear .3s;
		}
	}
	&-touch {
		color: #fff;
		padding: 2px 20px;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		$min-vw: 320px;
		$max-vw: 1280px;
		$min-font-size: 16px;
		$max-font-size: 23px;
		@include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
		margin-bottom: 20px;
		span {
			position: relative;
			display: block;
			&:before {
				position: absolute;
				content: "";
				left: 0;
				bottom: 0;  
				height: 4px;
				background-color: $theme-color;
				animation: lineCatchy 3s linear 1s infinite;
			}
		}
	}
}

