.card {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	font-family: $card-font;
	.card-head, .card-body, .card-foot {
		@include flex_w(100%);
	}
	.card-head {
		.card-title {
			font-family: $card-font;
			padding: 30px 0 0 0;
			font-size: 1.5em;
		}
	}
	.card-body, .card-foot {
		position: relative;
		padding: 30px 0 0 0;
	}
	&-common {    
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		overflow: hidden;
		border-radius: 10px;
		text-decoration: none;
		color: $base-color;
		transition:  linear .3s;
		@include mq(min, $mq_md) {
			&:hover {
				opacity: .8;
				.card-body {
					.card-title {
						color: $theme-color;
						transition:  linear .3s;
					}
				}
				transition:  linear .3s;
			}
		}
		.card-header {
			display: block;
			width: 100%;
			height: auto;
			position: relative;
			overflow: hidden;
			border-radius: .25rem;
			background-color: #e3e3e3;    
		}
		.card-body {
			flex: 1;
			flex-grow: 1;
			padding: 30px 20px;
			border-left: .0625rem solid #e3e3e3;
			border-right: .0625rem solid #e3e3e3;
			border-bottom: .0625rem solid #e3e3e3;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
			border-top: 0;
			.card-title {
				font-weight: 400;
				font-size: 26px;
				margin-bottom: 10px;
				transition:  linear .3s;
			}
		}
	}
	&-services {
		display: block;
		box-shadow: 2px 4px 4px #e3e3e3;
		border-radius: 5px;
		padding: 40px 20px;
		transition: linear .3s;
		&:hover {
			background-color: rgba($color: #cccc, $alpha: .2);
			transition: linear .3s;
			.card-icon {
				img {
					animation: bounce .5s linear;
				}
			}
			.card-title {
				font-family: $card-font;
				color: $theme-color;
				transition: linear .3s;
			}
		}
		.card-title {
			font-family: $card-font;
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 20px;
			transition: linear .3s;
		}
		&.is-v2 {
			padding: 30px 20px;
			box-shadow: none;
			@include mq(max, $mq_md - 1) {
				padding: 20px 0;
			}
			.card-title {
				font-family: $card-font;
				font-size: 16px;
			}
			.card-body {
				padding-top: 10px;
			}
			&:hover {
				.card-title {
					color: $base-color;
				}
			}
		}
	}
	&-mission {
		display: block;
		padding: 20px;
		transition: linear .3s;
		&:hover {
			box-shadow: 0 2px 4px #ccc;
			transition: linear .3s;
		}
		.card-header{
			.card-img {
				text-align: center;
			}
		}
		.card-body {
			padding-top: 10px;
			font-family: $card-font;
			font-weight: 300;
			.card-title {
				text-align: center;
				font-weight: 600;
				margin-bottom: 10px;
				$min-vw: 320px;
				$max-vw: 1280px;
				$min-font-size: 16px;
				$max-font-size: 24px;
				@include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
			}
		}
	}
	&-tcenter {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 450px;
		color: #fff;
		text-decoration: none;
		/*border-radius: 14px;*/
		padding: 10px;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
	    @include mq(max, $mq_sm - 1) {
	    	font-size: 16px;
	    	height: 350px;
	    }
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.3);
			/*border-radius: 14px;*/
		}
		.title {
			font-family: $card-font;
			$min-vw: 375px;
		    $max-vw: 1200px;
		    $min-font-size: 16px;
		    $max-font-size: 35px;
		    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
		    line-height: normal;
		    @include mq(max, $mq_sm - 1) {
		    	font-size: 35px;
		    }
		    @include mq(max, 360) {
		    	font-size: 30px;
		    }
		}
	}

	&-enterprise {
		text-decoration: none;
		text-align: center;
		transition: linear .3s;
		.card-header {
			display: flex;
			align-items: center;
		}
		.card-body {
			background-color: #fff;
			border: 1px solid lightgray;
			border-top: 0;
			padding-top: 0;
			padding: 25px 20px 40px 20px;
			h3 {
			    font-size: 20px;
			    line-height: 26px;
			    font-weight: 400;
    			background: #fff;
				text-transform: capitalize;
			    color: #202020;
				span {
					position: relative;
					display: inline-block;
					&:before {
						content: "";
						position: absolute;
						left: 0;
						bottom: -8px;
						width: 0%;
						height: 4px;
						background-color: $theme-color;
						transition: linear .3s;
					}
				}
			}
			.more {
				color: #999;
				font-size: 14px;
			    font-weight: 500;
			    line-height: 29px;
			}
		}
		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
			.card-body {
				h3 {
					span {
						&:before {
							width: 100%;
							transition: linear .3s;
						}
					}
				}
			}
		}
	}
}

.el_card {
	display: block;
	text-decoration: none;
	color: $base-color;
	overflow: hidden;
	.card-header {
		border-radius: 5px;
	}
	.card-body {
		border: 1px solid #ccc;
		padding: 20px;
		.title {
			font-size: 16px;
			font-weight: 500;
		}
	}
}