
@import "module/display";
@import "module/align";
@import 'module/spacing';
@import 'module/typography';

// width sizes
.is-wide {
	width: 100%;
}

// display options
.dflex-ai {
	@extend %flex-center;
}
.dflex-end {
	@extend %flex-end;
}

.flex-row-rev {
	flex-direction: row-reverse;
}

.ov-hidden {
	overflow: hidden;
}
.plr-no{
	padding-left: 0!important;
	padding-right: 0!important;
}
.jc {
	justify-content: center;
}
.v-pc {
	display: block;
	@include mq(max, $mq_md - 1) {
		display: none;
	}
}
.v-sp {
	display: none;
	@include mq(max, $mq_md - 1) {
		display: block;
	}
}
.v-sp {
	display: none;
	@include mq(max, $mq_md - 1) {
		display: block;
	}
}
.hero-sec {
	@include mq(max, $mq_md - 1) {
		margin-bottom: 50px;
	}
}
.colrev-xs {
	@include mq(max, $mq_md - 1) {
		flex-direction: column-reverse;
	}
}
.enter-sec {
	position: relative;
	overflow: hidden;
	padding: 100px 0 60px 0;
	@include mq(max, $mq_sm - 1) {
		padding: 40px 0;
	}
	.main_title {
		margin-bottom: 56px;
		@include mq(max, $mq_md - 1) {
			margin-bottom: 35px;
		}
	}
	.btn-bottom {
		margin-top: 40px;
	}
}

.page_home {
	.enter-sec {
		padding-top: 50px;
	}
}

.slogans-sec {
	position: relative;
	background: url("../img/slogan.jpeg") center center/cover no-repeat;
	color: #fff;
	padding-top: 90px;
    padding-bottom: 130px;
    margin-top: 12px;
    @include mq(min, $mq_md) {
		background-attachment: fixed;
    }
    &:before {
    	content: "";
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	background: rgba(93, 11, 14, 0.66);
    }
	.inner {
    	max-width: 750px;
    	width: 100%;
    	margin-left: auto;
    	margin-right: auto;
    	font-family: $title-font;
		.title {
	    	position: relative;
	    	font-size: 40px;
    		font-weight: 900;
    		margin-bottom: 10px;
    		@include mq(max, $mq_md - 1) {
    			font-size: 30px	;
    		}
    		span {
    			display: inline-block;
    			position: relative;
    			/*&:before {
    				content: "";
    				position: absolute;
    				bottom: 0;
    				left: 0;
    				right: 0;
    				height: 4px;
    				background-color: red;
    			}*/
    		}
	    }
	    .phar {
	    	p {
	    		font-size: 20px;
			    line-height: 30px;
			    font-weight: 300;
	    	}
	    }
	}
}

.banner-sec {
	position: relative;
	background: url("../img/banner.jpeg") center center/cover no-repeat;
	background-attachment: fixed;
	color: #fff;
	h2 {
		font-family: $card-font;
		$min-vw: 320px;
	    $max-vw: 1280px;
	    $min-font-size: 30px;
	    $max-font-size: 80px;
	    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
	    $min-font-size: 35px;
	    $max-font-size: 76px;
	    @include fluid-type-lh($min-vw, $max-vw, $min-font-size, $max-font-size);
		text-transform: uppercase;
		span {
			position: relative;
			display: inline-block;
			padding: 23px 0;
			&:before {
				content: "";
				position: absolute;
				height: 10px;
				width: 100%;
				background: $theme-color;
			}
			&.is-l {
				&:before {
					left: 0;
					bottom: 0;
				}
			}
			&.is-r {
				@include mq(max, $mq_md - 1) {
					padding-top: 10px;
				}
				&:before {
					background: #fff;
					top: 0;
					right: 0;
					@include mq(max, $mq_md - 1) {
						display: none;
					}
				}
			}
		}
	}
}

.float-wrap {
    position: relative;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(50, 56, 67, 0.05);
    border-radius: 20px;
    width: 100%;
    padding: 80px 50px;
	z-index: 2;
	@include mq(max, $mq_md - 1) {
		padding: 30px 20px 40px 20px;
		margin-bottom: 20px;
	}
}

.about-sec {
	.inner {
		max-width: 650px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		p {
			font-size: 18px;
    		line-height: 30px;
		}
		.mb {
			margin-bottom: 30px;
		}
	}
}

.empow-sec {
	background-color: #f5f5f5;
	.inner {
		.item {
			margin-bottom: 30px;
			min-height: 300px;
		}
		.card-services {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			flex-wrap: wrap;
			background-color: #fff;
			text-decoration: none;
			color: $base-color;
			padding: 50px 25px 50px;
    		border-radius: 4px;
			.card-body {
				flex: 0 0 100%;
				max-height: 100%;
				padding-top: 0;
			}
			.card-title {
				span {
					position: relative;
					display: inline-block;
					padding-bottom: 4px;
					&:before {
						content: "";
						position: absolute;
						left: 0;
						width: 0%;
						bottom: 0;
						height: 4px;
						background-color: $theme-color;
						transition: linear .3s;
					}
				}
			}
			&:hover {
				/*background-color: #03a9f4;*/
				box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
				transition: linear .3s;
				.card-title {
					color: $base-color;
					span {
						&:before {
							width: 100%;
							transition: linear .3s;
						}
					}
				}
			}
		}
	}
}

.enterprise-sec {
	background-color: #f5f5f5;	
	.item {
		margin-bottom: 30px;
	}
}

.txt-box {
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

.contact-sec {
	padding: 40px 20px;
	background: $theme-color;
	color: #fff;
	.cntct-body {
		max-width: 800px;
		width: 100%;
		margin: auto;
		justify-content: space-around;
		flex-wrap: wrap;
		h3 {
			font-size: 18px;
			font-weight: 400;
			@include mq(max, $mq_md - 1) {
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 30px;
			}
		}
	}
}

.pg-mission {
	margin-top: 50px;
	@include mq(max, $mq_md - 1) {
		margin-top: 0;
	}
	.txt-box {
		margin-bottom: 50px;

		@include mq(max, $mq_md - 1) {
			margin-bottom: 30px;
		}
	}
}

.ms-wrp {
	margin-top: 50px;
}

.other_box-inf {
	font-family: $global-font;
	font-weight: 200;
	max-width: 800px;
	width: 100%;
	color: #747b86;
	line-height: 30px;
	$min-vw: 320px;
	$max-vw: 1280px;
	$min-size: 50px;
	$max-size: 100px;
	@include fluid-type-marginY($min-vw, $max-vw , $min-size , $max-size);
	$min-font-size: 16px;
	$max-font-size: 20px;
	@include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
}

.m_col-sec {
	padding-bottom: 50px;
	.body_cols {
		margin-top: 40px;
	}
}

.enter-pad {
	padding: 0;
}

.enter-cntr {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include mq(max, 1200) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.pg-enterprise {
    margin-top: 30px;
}

.enterprise-top {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	.enter-r {
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 50px;	
		padding-right: 50px;
		@include mq(max, $mq_md - 1) {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 0 20px;
			margin-bottom: 50px;
		}
		.lg-title {
			text-align: left;
			color: #000;
		    $min-vw: 320px;
		    $max-vw: 1280px;
		    $min-font-size: 50px;
		    $max-font-size: 80px;
		    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
		    $min-font-size: 60px;
		    $max-font-size: 80px;
		    @include fluid-type-lh($min-vw, $max-vw, $min-font-size, $max-font-size);
			@include mq(max, 1000) {
				margin-bottom: 20px;
			}
		}
		p {
			$min-vw: 320px;
		    $max-vw: 1280px;
		    $min-font-size: 16px;
		    $max-font-size: 20px;
		    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
			@include mq(max, 1000) {
				font-size: 16px;
			}
		}
	}
	&.on-home {
		.enter-r {
			.lg-title {
				margin-bottom: 10px;
				$min-vw: 320px;
			    $max-vw: 1280px;
			    $min-font-size: 50px;
			    $max-font-size: 60px;
			    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
			    $min-font-size: 60px;
			    $max-font-size: 70px;
			    @include fluid-type-lh($min-vw, $max-vw, $min-font-size, $max-font-size);
			}
			p {
				margin-bottom: 10px;
			}
		}
	}
	.enter-l {
		flex: 0 0 50%;
		max-width: 50%;
		display: flex;
		align-items: center;
		@include mq(max, $mq_md - 1) {
			padding-left: 0;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	&.img-sm {
		margin-bottom: 80px;
		justify-content: flex-start;
		padding-top: 0;
		.enter-l {
			flex: 0 0 25%;
			max-width: 25%;
			@include mq(max, $mq_md - 1) {
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 30px;
			}
		}
		.enter-r {
			flex: 0 0 65%;
			max-width: 65%;
			@include mq(max, $mq_md - 1) {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.lg-title {
				text-align: left;
				color: #000;
			    $min-vw: 320px;
			    $max-vw: 1280px;
			    $min-font-size: 30px;
			    $max-font-size: 50px;
			    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
			    $min-font-size: 30px;
			    $max-font-size: 50px;
			    @include fluid-type-lh($min-vw, $max-vw, $min-font-size, $max-font-size);
			    margin-bottom: 20px;
			}
			p {
				max-width: 400px;
				width: 100%;
			}
		}
	}
}

#enter-slider {
	margin-bottom: 80px;
	@include mq(max, 1200) {
		padding: 40px;
	}
	@include mq(max, $mq_md - 1) {
		padding: 40px 20px;
	}
	.owl-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		left: -40px;
		right: -40px;
		top: 50%;
		transform: translateY(-50%);
		@include mq(max, 1200) {
			left: 0;
			right: 0;
		}
		@include mq(max, $mq_md - 1) {
			top: 40%;
			left: -15px;
			right: -15px;
		}
		button {
			font-size: 80px;
			color: $theme-color;
			outline: none;
			font-family: sans-serif;
		}
	}
	.owl-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -4px;
		margin-right: -4px;
		margin-top: 40px;
		margin-bottom: 20px;
		button {
			padding-left: 4px!important;
			padding-right: 4px!important;
			outline: none;
			&.active {
				span {
					background-color: $theme-color;
				}
			}
			span {
				display: block;
				width: 12px;
	    		height: 12px;
				border-radius: 20em;
				background-color: lightgray;
			}
		}
	}
}

#e-slider2 {
	.owl-stage {
	    display: flex;
	    align-items: center!important;
	}
}

.box-text {
	max-width: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 40px;
	font-family: $global-font;
	@include mq(max, $mq_md - 1) {
		padding: 20px 0;
	}
	.title {
	    $min-vw: 320px;
	    $max-vw: 1280px;
	    $min-font-size: 18px;
	    $max-font-size: 24px;
	    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
	    margin-bottom: 20px;
	    @include mq(max, $mq_md - 1) {
	    	margin-bottom: 10px;
	    }
	}
	p {
		$min-vw: 320px;
	    $max-vw: 1280px;
	    $min-font-size: 16px;
	    $max-font-size: 18px;
	    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
	}
}

.reverse {
	flex-direction: row-reverse;
}

.services-pg {
	.services-hero {
		.box-l {
			.title {
				font-family: $title-font;
			    $min-vw: 320px;
			    $max-vw: 1280px;
			    $min-font-size: 40px;
			    $max-font-size: 60px;
			    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
			}
		    .txt-box {
				font-family: $title-font;
				font-weight: 200;
		    	margin-left: 0;
		    	font-size: 18px;
		    	color: #747b86;
		    	margin-bottom: 40px;
		    }
		}
	}
}

.s_col-sec {
	margin: calc( 100vh / 4 ) 0;
	@include mq(max, $mq_md - 1) {
		margin: 50px 0;
	}
}

.list_i {
	.list_i-item {
		padding: calc(100vh / 10) 0;
		@include mq(max, $mq_md - 1) {
			padding: 20px 0;
		}
	}
	.card-icon {
		max-width: 200px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		@include mq(max, $mq_md - 1) {
			max-width: 100px;
			margin-bottom: 10px;
		}
	}
	.card-icon_info {
		font-family: $global-font;
		color: #747b86;
		font-size: 18px;
		line-height: 30px;
		.title {
			font-family: $global-font;
			color: $base-color;
			font-weight: 400;
		    $min-vw: 320px;
		    $max-vw: 1280px;
		    $min-font-size: 20px;
		    $max-font-size: 30px;
		    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
		    margin-bottom: 20px;
		}
	}
}

.card-contact_l {
	max-width: 480px;
	width: 100%;
	p {
		color: #6a7c92;
	    font-size: 17px;
	    font-weight: 400;
	    line-height: 30px;
	}
	.title {
		position: relative;
		font-family: $global-font;
	    font-weight: 700;
	    line-height: 45px;
	    letter-spacing: -0.3px;
	    $min-vw: 320px;
	    $max-vw: 1280px;
	    $min-font-size: 30px;
	    $max-font-size: 35px;
	    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
	    padding-bottom: 20px;
	    margin-bottom: 24px;
	    @include mq(max, $mq_md - 1) {
	    	padding-bottom: 10px;
	    	margin-bottom: 20px;
	    }
	    &:before {
	    	content: "";
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	width: 50px;
	    	height: 4px;
	    	background: $theme-color;
	    }
	}
	.info {
		display: block;
		margin: 50px 0 10px 0;
		font-family: $global-font;
		font-weight: 500;
		text-decoration: none;
		color: $theme-color;
	    $min-vw: 320px;
	    $max-vw: 1280px;
	    $min-font-size: 18px;
	    $max-font-size: 24px;
	    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
	    @include mq(max, $mq_md - 1) {
	    	margin: 20px 0 10px 0;
	    }
	}
}

.contact-pg {
	margin-bottom: 50px;
}

.card-contact_r {
	@include mq(max, $mq_md - 1) {
		margin-top: 30px;
	}
	.title {
		font-family: $global-font;
		font-weight: 700;
    	line-height: 32px;
    	letter-spacing: -0.3px;
	    $min-vw: 320px;
	    $max-vw: 1280px;
	    $min-font-size: 20px;
	    $max-font-size: 25px;
	    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
	}
}

.card-contact_r {
    box-shadow: 0px 7px 24px 0px rgba(0,0,0,0.12);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 45px 40px 45px 40px;
    @include mq(max, $mq_md - 1) {
    	padding: 35px 20px 35px 20px;
    }
}

.cntct-i {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	max-width: 322px;
	width: 100%;
	margin-top: 50px;
	li {
		display: block;
		position: relative;
		text-decoration: none;
		color: #6a7c92;
		padding: 0px 0px 0 83px;
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 35px;
		@include mq(max, $mq_md - 1) {
			padding-left: 50px;
			font-size: 15px;
			margin-bottom: 20px;
		}
		img {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			@include mq(max, $mq_md - 1) {
				width: 30px;
			}
		}
	}
}

.page_home main {
	padding-top: 45px!important;
	@include mq(min, $mq_md) {
		padding-top: 0!important;
	}
}


.mobile-hr {
	display: none;
	@include mq(max, $mq_md - 1) {
		display: block;
		margin: 50px 0;
	}
}

.sec-talk {
	padding: 40px 0;
	background-color: $theme-color;
	color: #fff;
	text-align: center;
	h3 {
		$min-vw: 320px;
		$max-vw: 1280px;
		$min-font-size: 25px;
		$max-font-size: 35px;
		@include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
	}
}

.brands-sec {
	position: relative;
	background-color: #fff;
	padding: 50px 0;
}