.cntct-form {
	width: 100%;
	label {
		display: block;
		width: 100%;
	}
	input, textarea {
		display: block;
		width: 100%;
	    color: #323843;
	    font-size: 16px;
	    border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px solid #d4d6d8;
	    padding-bottom: 19px;
	    padding-top: 19px;
	    margin-bottom: 20px;
	    transition: linear .4s;
	    &:focus {
	    	outline: none!important;
	    	border-color: $theme-color;
	    	transition: linear .4s;
	    }
	}
	textarea {
		min-height: 120px;
		overflow: auto;
    	resize: vertical;
	}
}