.list-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
    @include mq(max, $mq_sm - 1) {
        margin-left: -5px;
        margin-right: -5px;
    }
    li {
        padding-left: 10px;
        padding-right: 10px;
		@include mq(max, $mq_sm - 1) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.services-list {
    position: relative;
    margin-top: 40px;
    .services-item {
        margin-bottom: 0;
        @include mq(max, $mq_md - 1) {
            margin-bottom: 20px;
        }
        &:nth-child(even) {
            .card-services {
                background-color: rgba($color: #cccc, $alpha: .2);
                &:hover {
                    background-color: #ffffff;
                }
            }
        }
    }
}

.gnav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    @include mq(max, $mq_md - 1) {
        justify-content: center;
    }
    @include mq(max, $mq_sm - 1) {
        flex-wrap: wrap;
    }
    li {
        a {
            text-transform: uppercase;
            font-family: $global-font;
            font-size: 18px;
            font-weight: 400;
            text-decoration: none;
            color: #747b86;
            padding: 0 20px;
            transition: linear .3s;
            &:hover, &.is-active {
                color: #ffffff;
                transition: linear .3s;
            }
        }
    }
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mq(max, $mq_md - 1) {
        justify-content: center;
    }
    li {
        a {
            text-decoration: none;
            color: #747b86;
            font-size: 30px;
            padding: 0 5px;
            transition: linear .3s;
            &:hover {
                color: #ffffff;
                transition: linear .3s;
            }
        }
    }
    &.is-v2 {
        justify-content: flex-start;
        margin: auto -10px;
        li {
            padding: 0 10px;
            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}