.hero-slider-body {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	flex-direction: row-reverse;
	justify-content: space-between;
	.hero-col {
		&.is-info {
			max-width: 800px;
			width: 100%;
			padding-left: 125px;
    		padding-bottom: 80px;
			@include mq(max, $mq_md - 1) {
				max-width: 100%;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 0;
			}
			p {
				font-family: $global-font;
			    font-weight: 300;
			    margin: 0px 0px 29px 0px;
			    $min-vw: 320px;
				$max-vw: 1280px;
				$min-font-size: 16px;
				$max-font-size: 24px;
				@include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
				$min-font-size: 24px;
				$max-font-size: 28px;
				@include fluid-type-lh($min-vw, $max-vw, $min-font-size, $max-font-size);
			}
			.hero-title {   
				h1 {
					font-family: $title-font;
					color: $base-color;
					font-weight: 800;
					$min-vw: 320px;
					$max-vw: 1280px;
					$min-font-size: 25px;
					$max-font-size: 90px;
					@include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
					$min-font-size: 28px;
					$max-font-size: 70px;
					@include fluid-type-lh($min-vw, $max-vw, $min-font-size, $max-font-size);
					margin: 0px 0px 55px 0px; 
					@include mq(max, $mq_md - 1) {
						margin-bottom: 20px;
					}
					.xl {
						display: inline-block;
						margin-bottom: 20px;
						border-bottom: 10px solid $theme-color;
						padding-bottom: 20px;
						@include mq(max, $mq_md - 1) {
							border: none;
							margin-bottom: 0;
							padding-bottom: 0;
						}
					}
					.xxl {
						display: block;
						text-transform: capitalize;
						@include mq(max, $mq_md - 1) {
							display: inline-block;
						}
					}
				}
			}
			.btn-arr {
				font-size: 15px;
			    font-weight: 500;
			    line-height: 24px;
			    letter-spacing: 0.8px;
				color: #ffffff;
				border-radius: 30px;
    			padding: 14px 40px 14px 40px;
				transition: linear .3s;
    			@include mq(min, $mq_md) {
    				&:hover {
    					box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px;
						transform: translateY(-5px);
						transition: linear .3s;
    				}
    			}
			}
		}
		&.is-img {
			flex: 1;
			text-align: right;
			max-width: 500px;
			height: calc(100vh - 80px);
			@include mq(max, $mq_md - 1) {
				text-align: right;
				margin-top: 30px;
				flex: 0 0 100%;
				max-width: 100%;
				height: 320px;
				margin-bottom: 30px;
			}
			/*img {
				max-height: 430px;
    			width: auto;
				@include mq(max, $mq_md - 1) {
					max-height: 280px;
				}
			}*/
		}
	}
}

#hero-slider {
	.hero-slider-body .hero-col.is-img img {
		display: inline-block;
	}
}

#m-slider {
	.slide-item {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		$min-vw: 320px;
		$max-vw: 1280px;
		$min-size: 300px;
		$max-size: 400px;
		@include fluid-type-height($min-vw, $max-vw , $min-size , $max-size);
	}
}


#e-slider {
	.slide-item {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		$min-vw: 320px;
		$max-vw: 1280px;
		$min-size: 300px;
		$max-size: 400px;
		@include fluid-type-height($min-vw, $max-vw , $min-size , $max-size);
	}
}


#i-slider {
	margin-bottom: 50px;
	.item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		object-fit: cover;
		height: 537px;
		@include mq(max, $mq_md - 1) {
			height: auto;
		}
		img {
			object-fit: cover;
			height: 100%;
		}
	}
}

#slogan-slider {
	display: flex;
    align-items: center;
	.owl-dots {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
		button {
			padding: 0 2px!important;
			outline: none;
			@include mq(max, $mq_md - 1) {
				padding: 0 1px!important;
			}
			span {
				display: block;
				background: rgba(255,255,255,.5);
				border-radius: 100% 100%;
				width: 13px;
				height: 13px;
			}
			&.active {
				span {
					background: #ffffff;
					width: 25px;
					border-radius: 6em;
				}
			}
		}
	}
}