.main_title{
    font-family: $title-font;
    font-weight: 600;
    color: #323843;
    line-height: normal;
    $min-vw: 320px;
    $max-vw: 1280px;
    $min-font-size: 26px;
    $max-font-size: 60px;
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    margin-bottom: 50px;
    @include mq(max, $mq_md - 1) {
        margin-bottom: 30px;
    }
   /* span {
        position: relative;
        padding-bottom: 10px;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 40%;
            right: 40%;
            height: 2px;
            background-color: $theme-color;
        }
    }*/
}

.lg-title {
    font-family: $title-font;
    font-weight: 800;
    text-align: center;
    color: $theme-color;
    line-height: 40px;
    $min-vw: 320px;
    $max-vw: 1280px;
    $min-font-size: 30px;
    $max-font-size: 60px;
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    margin-bottom: 30px;
}

.line-title {
    position: relative;
    font-family: $title-font;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 70px;
    text-rendering: optimizelegibility;
    padding-bottom: 20px;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        max-width: 150px;
        width: 100%;
        height: 4px;
        background-color: $theme-color;
    }
}